.Dianamics\.FancyImage img{
    width:100%;
    height:100%;
}

.Dianamics\.FancyImage svg{
    width:100%;
    height:100%;
    color: blue;
}

.Dianamics\.FancyImage div:hover{
    fill: var(--svg-fill-hover);  
}

.Dianamics\.FancyImage div{
    fill: var(--svg-fill);  
}